dynamicPlugins:
  rootDirectory: dynamic-plugins-root
  frontend:
    red-hat-developer-hub.backstage-plugin-global-header:
      mountPoints:
        - mountPoint: application/header
          importName: GlobalHeader
          config:
            position: above-sidebar
        - mountPoint: global.header/component
          importName: CompanyLogo
          config:
            priority: 200
            props:
              logo:
                dark: "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22160pt%22%20height%3D%2280pt%22%20viewBox%3D%220%200%20160%2080%22%3E%3Cg%20fill%3D%22%23fff%22%20style%3D%22text-align%3Astart%3Btext-align-last%3Aauto%22%20letter-spacing%3D%220%22%3E%3Ctext%20font-family%3D%22Red%20Hat%20Display%22%20font-size%3D%2240%22%20font-weight%3D%22700%22%20transform%3D%22translate(-.177%2054.263)%22%20word-spacing%3D%220%22%3E%3Ctspan%20x%3D%220%22%3EQE%3C%2Ftspan%3E%3C%2Ftext%3E%3Ctext%20font-family%3D%22Red%20Hat%20Text%22%20font-size%3D%2214%22%20font-weight%3D%22700%22%20transform%3D%22translate(57.565%2035.73)%22%20word-spacing%3D%220%22%3E%3Ctspan%20x%3D%220%22%3ERed%20Hat%3C%2Ftspan%3E%3Ctspan%20x%3D%220%22%20dy%3D%2218.516%22%3EDeveloper%20Hub%3C%2Ftspan%3E%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fsvg%3E"
              width: 160
              height: 80
              to: "/"
        - mountPoint: global.header/component
          importName: HeaderIconButton
          config:
            priority: 110
            props:
              title: test-logo
              icon: <svg id="logo" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 10 192 145"><defs><style>.cls-1{fill:#e00;}</style></defs><path d="M157.77,62.61a14,14,0,0,1,.31,3.42c0,14.88-18.1,17.46-30.61,17.46C78.83,83.49,42.53,53.26,42.53,44a6.43,6.43,0,0,1,.22-1.94l-3.66,9.06a18.45,18.45,0,0,0-1.51,7.33c0,18.11,41,45.48,87.74,45.48,20.69,0,36.43-7.76,36.43-21.77,0-1.08,0-1.94-1.73-10.13Z"/><path class="cls-1" d="M127.47,83.49c12.51,0,30.61-2.58,30.61-17.46a14,14,0,0,0-.31-3.42l-7.45-32.36c-1.72-7.12-3.23-10.35-15.73-16.6C124.89,8.69,103.76.5,97.51.5,91.69.5,90,8,83.06,8c-6.68,0-11.64-5.6-17.89-5.6-6,0-9.91,4.09-12.93,12.5,0,0-8.41,23.72-9.49,27.16A6.43,6.43,0,0,0,42.53,44c0,9.22,36.3,39.45,84.94,39.45M160,72.07c1.73,8.19,1.73,9.05,1.73,10.13,0,14-15.74,21.77-36.43,21.77C78.54,104,37.58,76.6,37.58,58.49a18.45,18.45,0,0,1,1.51-7.33C22.27,52,.5,55,.5,74.22c0,31.48,74.59,70.28,133.65,70.28,45.28,0,56.7-20.48,56.7-36.65,0-12.72-11-27.16-30.83-35.78"/></svg>
              to: /
        - mountPoint: global.header/component
          importName: SearchComponent
          config:
            priority: 100
        - mountPoint: global.header/component
          importName: Spacer
          config:
            priority: 99
            props:
              growFactor: 0
        - mountPoint: global.header/component
          importName: HeaderIconButton
          config:
            priority: 90
            props:
              title: Self-service
              icon: add
              to: create
        - mountPoint: global.header/component
          importName: HelpDropdown
          config:
            priority: 80
        - mountPoint: global.header/help
          importName: SupportButton
          config:
            priority: 10
        - mountPoint: global.header/component
          importName: NotificationButton
          config:
            priority: 70
        - mountPoint: global.header/component
          importName: Divider
          config:
            priority: 50
        - mountPoint: global.header/component
          importName: ProfileDropdown
          config:
            priority: 10
        - mountPoint: global.header/profile
          importName: MenuItemLink
          config:
            priority: 100
            props:
              title: Settings
              link: /settings
              icon: manageAccounts
        - mountPoint: global.header/profile
          importName: MenuItemLink
          config:
            priority: 90
            props:
              title: My profile
              type: myProfile
              icon: account
        - mountPoint: global.header/profile
          importName: LogoutButton
          config:
            priority: 10
