# yaml-language-server: $schema=https://raw.githubusercontent.com/redhat-developer/rhdh-plugins/refs/heads/main/workspaces/marketplace/json-schema/plugins.json
apiVersion: extensions.backstage.io/v1alpha1
kind: Plugin
metadata:
  name: plugin-name
  namespace: rhdh
  title: Plugin Title
  annotations:
    extensions.backstage.io/pre-installed: 'true' # this means the plugin yaml is preinstalled, not the plugin itself, all other plugins are marked as 'custom'
    extensions.backstage.io/verified-by: Red Hat # For verified plugins
    extensions.backstage.io/certified-by: Red Hat # For certified plugins
  links:
    - title: Homepage
      url: https://red.ht/rhdh
    - title: Bugs
      url: https://issues.redhat.com/browse/RHIDP
    - title: Documentation for Red Hat Developer Hub
      url: https://docs.redhat.com/en/documentation/red_hat_developer_hub
    - title: Source Code
      url: https://github.com/redhat-developer/rhdh/tree/main/dynamic-plugins/wrappers/
  tags:
    - apis # Used for filtering
  description: |
    This is the description text used for the Tile view - keep it short.
spec:
  author: Red Hat
  support:
    provider: Red Hat
    level: tech-preview
  lifecycle: active
  publisher: Red Hat

  categories:
    - API Management # One category will show up on the tile view
  highlights:
    - Add some highlights of the plugins features

  description: |
    This is the long description used for the Expanded view. Uses Markdown.

    ## Adding The Plugin To Red Hat Developer Hub

    See the [Red Hat Developer Hub documentation](https://docs.redhat.com/en/documentation/red_hat_developer_hub) 
    for further instructions on how to add, enable, configure, and remove plugins in your instance.

    ## Configuring The Plugin ##

    Plugins often need additional configuration to work correctly - particularly those that integrate with other 
    systems. See the original source code repository, the software vendor, or the [Red Hat Developer Hub documentation](https://docs.redhat.com/en/documentation/red_hat_developer_hub)
    for further details regarding the configuration required.



  # Images are base 64 encoded SVGs (below is a blank square from the mockup)
#  icon: data:image/svg+xml;base64,
#    PHN2ZyB3aWR0aD0iNzAiIGhlaWdodD0iNzAiIHZpZXdCb3g9IjAgMCA3MCA3MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93
#    d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3Qgd2lkdGg9IjcwIiBoZWlnaHQ9IjcwIiBmaWxsPSIjQzRDNEM0Ii8+Cjwvc3ZnPgo=

  assets: # Not used yet
    - type: icon
      filename: img/3scale.svg
      originUri: https://github.com/backstage/backstage/blob/master/microsite/static/img/3scale.svg

  history: # Not used yet
    added: '2023-05-15'

  # all packages needed for plugin to work (plugin name will be then in the partOf of the packages)
  packages: # link to the name used in the associated package documents in ../packages.
    - blah-blah-blah-blah
